* {
  font-family: 'Roboto', sans-serif;
}

* .icon-instagram:before {
  content: "\ea92";
}

* .icon-facebook:before {
  content: "\ea90";
}

* .icon-twitter:before {
  content: "\ea96";
}

* .icon-linkedin:before {
  content: "\eac9";
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  margin: 0 auto;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 13px 70px;
}

.menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

.menu_item {
  border-right: 2px dotted red;
  padding-right: 28px;
}

.hamburger {
  display: none;
}

.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  top: 50px;
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.6;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  margin-top: 23px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
  line-height: 12px;
}

.subheader_btn {
  display: block;
  width: 172px;
  height: 46px;
  margin-top: 19px;
  padding: 9px 10px;
  -webkit-box-shadow: inset 0px -1.5px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -1.5px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  padding: 150px 0px 130px 0px;
  background: url("../img/Layer1.png") center center/cover no-repeat;
}

.promo_header {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
}

.promo_subheader {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  margin: 0px;
  margin-top: 22px;
}

.promo_descr {
  margin-top: 22px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  line-height: 24px;
}

.promo_btn {
  width: 259px;
  height: 63px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 118px auto 0 auto;
  padding: 12.5px 19.5px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 71px 0 65px 0;
}

.label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  font-size: 11px;
  padding: 5px 12px;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #222222;
  margin-top: 38px;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 17px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #222222;
}

.reasons {
  /*background-color: green; */
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reasons_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  margin-right: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}

.reasons_descr {
  width: 341px;
}

.reasons_subtitle {
  font-size: 17px;
  font-weight: 400;
  color: #1eacc7;
  line-height: 21px;
  margin-bottom: 5px;
}

.reasons_text {
  font-size: 15px;
  font-weight: 300;
  color: #202020;
  text-align: left;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/mobile_app.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  opacity: 0.9;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/mobile_screen_1.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile_screen_2.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile_screen_3.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile_screen_4.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mobile_screen_5.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mobile_screen_6.jpg") center center/cover no-repeat;
}

.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.selection {
  min-height: 900px;
  background: url("../img/mobile_app.png") center center/cover no-repeat;
}

.selection_fon {
  background-color: #070716;
  height: 500px;
  padding-top: 65px;
}

.selection_label_invert {
  color: #070716;
  background-color: #ffffff;
}

.selection_title_invert {
  color: #ffffff;
}

.selection_subtitle_invert {
  color: #ffffff;
}

.selection_auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
}

.selection_text {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #222222;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_title {
  font-size: 22px;
  font-weight: 300;
  color: #1eacc7;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  font-size: 17px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 10px;
  position: relative;
}

.require_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21px;
  height: 20px;
  background: url("../icons/icon10.png") center center/cover no-repeat;
}

.require_descr {
  font-size: 17px;
  font-weight: 300;
  color: #1eacc7;
  margin-top: 25px;
  line-height: 24px;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li:before {
  background: url("../icons/icon11.png") center center/cover no-repeat;
}

.cities {
  min-height: 716px;
  padding: 0 120px 0 120px;
  background-color: #080816;
}

.cities_fon {
  background: url("../img/world.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 716px;
  padding-top: 50px;
}

.cities_label_invert {
  color: #070716;
  background-color: #ffffff;
}

.cities_title_invert {
  color: #ffffff;
}

.cities_subtitle_invert {
  color: #ffffff;
}

.cities_see_all_cities_link {
  margin-top: 450px;
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.cities_see_all_cities_link a {
  color: #1eacc7;
}

footer {
  padding: 14px 23px 39px 23px;
}

footer a:hover {
  text-decoration: none;
}

.ftr_divider {
  width: 300px;
  height: 4px;
  margin: auto;
  background-color: #1eacc7;
  margin: 0 auto;
}

.ftr_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

.ftr_wrapper > div {
  width: 33%;
}

.ftr_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ftr_block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: none;
}

.ftr_block1_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 4px;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 100%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.ftr_block1_circle:nth-child(2n+0) {
  background-color: #0f0;
}

.ftr_block1_circle:hover {
  background-color: #9b0c0c;
}

.ftr_block1_circle a {
  margin-top: 1px;
  color: #fff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.ftr_block1_circle a:hover {
  color: #555;
}

.ftr_block1_circle span {
  color: #fff;
}

.ftr_block2 {
  margin: 0 auto;
  background-color: none;
}

.ftr_block2_list1_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px	0 10px;
}

.ftr_block2_list1_link a {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
}

.ftr_block2_list2_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.ftr_block2_list2_link a {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}

.ftr_block2_language {
  display: block;
  margin: 19px auto;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
}

.ftr_block3 {
  background-color: none;
}

.ftr_block3 a:nth-child(even) {
  margin: 0 4px 0 4px;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .reasons_descr {
    width: 310px;
  }
  .mobile_item {
    width: 300px;
  }
  .ftr_block2_list1_link a {
    font-size: 13px;
  }
  .ftr_block2_list2_link a {
    font-size: 9px;
  }
  .ftr_block3 a img {
    height: 22px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 14px;
  }
  .menu_link {
    font-size: 9px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    height: 40px;
    margin-top: 25px;
    font-size: 12px;
    width: 100%;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .reasons_descr {
    width: 300px;
    margin-top: 20px;
  }
  .reasons_circle {
    margin-right: 0;
  }
  .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    font-size: 36px;
  }
  .mobile_item {
    width: 300px;
  }
  .selection {
    min-height: 750px;
  }
  .selection_auto img {
    width: 80%;
  }
  .require_title {
    font-size: 20px;
  }
  .require_list {
    margin-top: 15px;
  }
  .require_list li {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .ftr_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ftr_wrapper > div {
    width: 100%;
  }
  .ftr_wrapper > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ftr_block1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .ftr_block2_list1_link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ftr_block2_list1_link a {
    margin-right: 20px;
  }
  .ftr_block2_list1_link a:last-child {
    margin-right: 0px;
  }
  .ftr_block2_list2_link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ftr_block2_list2_link a {
    margin-right: 20px;
  }
  .ftr_block2_list2_link a:last-child {
    margin-right: 0px;
  }
  .ftr_block2_language {
    margin: 10px auto;
  }
  .ftr_block3 a img {
    height: 27px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .subheader_btn {
    display: block;
    font-size: 14px;
    width: 100%;
    height: 39px;
    margin: 0 auto;
  }
  .promo_header {
    line-height: 50px;
  }
  .selection_fon {
    height: 470px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }
  .menu_link {
    font-size: 16px;
    display: block;
  }
  .subheader {
    top: 30px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 30px;
  }
  .subheader_btn {
    font-size: 12px;
    margin-top: 9px;
    height: 34px;
  }
  .subheader_btn:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }
  .subheader_phone {
    font-size: 14px;
    margin-top: 11px;
  }
  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  .promo_header {
    font-size: 30px;
    line-height: 44px;
    padding: 0 20px;
  }
  .promo_subheader {
    font-size: 21px;
    line-height: 31px;
    margin-top: 33px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    margin-top: 70px;
    width: 210px;
    height: 50px;
    font-size: 17px;
  }
  .promo_btn:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }
  .reasons {
    padding: 23px 0 30px 0;
  }
  .reasons .title {
    margin-top: 18px;
    font-size: 15px;
    line-height: 15px;
  }
  .reasons_block {
    margin-top: 25px;
  }
  .reasons_circle {
    width: 100px;
    height: 100px;
  }
  .reasons_descr {
    width: 100%;
    margin-top: 23px;
  }
  .reasons_subtitle {
    font-size: 16px;
  }
  .reasons_text {
    font-size: 14px;
    line-height: 18px;
  }
  .mobile {
    background: none;
    padding-bottom: 45px;
  }
  .mobile_item_subtitle {
    font-size: 21px;
  }
  .title {
    margin-top: 14px;
    font-size: 21px;
  }
  .selection {
    min-height: 362px;
    background: none;
  }
  .selection_fon {
    padding-top: 30px;
    height: 355px;
  }
  .selection_hidden {
    display: none;
  }
  .selection_text {
    color: #fff;
  }
  .selection_auto {
    margin-top: 30px;
  }
  .selection_auto img {
    width: 90%;
  }
  .require {
    padding: 17px 0 19px 0;
  }
  .require_block {
    margin: 9px 0;
  }
  .require_list {
    margin-top: 0px;
    padding-left: 28px;
    margin-bottom: 0px;
  }
  .require_list li {
    font-size: 14px;
  }
  .require_list li:before {
    left: -26px;
  }
  .require_title {
    font-size: 18px;
  }
  .require_descr {
    margin-top: 0px;
    font-size: 14px;
    line-height: 21px;
  }
  .cities {
    padding: 0 0 0 0;
    min-height: 360px;
  }
  .cities_fon {
    height: 360px;
    background-size: cover;
    padding-top: 20px;
  }
  .cities_see_all_cities_link {
    margin-top: 200px;
  }
  .ftr_divider {
    width: 253px;
  }
  .ftr_wrapper {
    padding-top: 14px;
  }
  .ftr_wrapper > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .ftr_wrapper > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .ftr_wrapper > div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .ftr_block1 {
    margin: 5px 0 10px 0;
  }
  .ftr_block2 {
    width: 290px;
  }
  .ftr_block2_list1_link {
    padding: 0;
  }
  .ftr_block2_list1_link a {
    font-sizes: 14px;
    margin-right: 10px;
  }
  .ftr_block2_list2_link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */